body {
    background-color: #132A13;
    color: #ECF39E;
    margin: 5vw; 
    padding: 5vw; 
}

h1 {
    font-family: "Old Standard TT", serif;
    font-weight: 100;
    font-size: 3dvw; 
    font-style: normal;
    text-align: center; 
}

h2 {
    font-family: "Dancing Script", cursive;
    color: #bc4749;
    font-weight: 100;
    font-size: 4vw; 
    font-style: normal;
    text-align: center; 
}

section {
    font-family: "Old Standard TT", serif;
    font-weight: 200;
    font-size: 1.5vw; 
    font-style: normal;
    text-align: center; 
}

button {
    font-family: "Old Standard TT", serif;
    font-weight: 200;
    font-size: 1.5vw;
    background-color: #bc4749;
    color: white;
    padding: 1.5vw 2.5vw; 
    border-radius: 1vw; 
    box-shadow: none;
    border: none;
    cursor: pointer;
    display: block; 
    margin: 1vw auto; 
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    h1,
    h2,
    section,
    button {
        font-size: 16px; 
    }
}